*.obj
*.o
*.exe
*.lnk
*.lst
*.d
compiler
release/
.qmake.stash
.vscode/
TextCompiler/build
*.err
source/version.h
Png2Tga/build
AdpcmEncoder/build
build/
sound/attic
*.zip
*.mmpz.bak
*.pyc
open_watcom_docker/
*.img
*.yar
DosPlatformGameWin32/
world.png
world.tga
JUNIT.XML
box/generated